<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WATCH_APPOPS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:name=".CollectorApplication"
        android:allowBackup="false"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:hasCode="true"
        android:label="Nasaru Collector"
        android:persistent="true"
        android:supportsRtl="false"
        android:usesCleartextTraffic="false" />
</manifest>
